<nav class="breadcrumbs" aria-label="Breadcrumb">
  <a href="{{ routes.root_url }}">בית</a>

  {% if collection %}
    &nbsp;/&nbsp;
    <a href="{{ collection.url }}">{{ collection.title }}</a>
  {% endif %}

  {% if product %}
    &nbsp;/&nbsp;
   {% assign page_vendor = product.vendor %}
    {% if page_vendor == 'canopy' %}
      {% assign collectionName = 'canopy-collection' %}
      {% elsif page_vendor == 'blooms' %}
      {% assign collectionName = 'blooms-collection' %}
      {% elsif page_vendor == 'youneedcoffee' %}
      {% assign collectionName = 'you-need-coffee-collection' %}
      {% elsif page_vendor == 'coffeeorg' %}
      {% assign collectionName = 'coffee-organization-collection' %}
      {% elsif page_vendor == 'coffee-culture' %}
      {% assign collectionName = 'coffee-culture-collection' %}
    {% endif %}
        <a class="vendor-link" href="/collections/{{ collectionName }}">{{ product.vendor | upcase }}</a>
      
  &nbsp;/&nbsp;

    <span>{{ product.title }}</span>
  {% elsif article %}
    &nbsp;/&nbsp;
    <a href="{{ blog.url }}">{{ blog.title }}</a>
    &nbsp;/&nbsp;
    <span>{{ article.title }}</span>
  {% elsif page %}
    &nbsp;/&nbsp;
    <span>{{ page.title }}</span>
  {% endif %}
</nav>

<style>
    .breadcrumbs {
        padding: 16px;
    }
   .vendor-link {
        color: inherit; /* Uses the same color as parent element */
        text-decoration: underline; /* Removes underline */
    }
    
</style>
