{% comment %} {{ 'discover-the-roaster.css' | asset_url | stylesheet_tag }} {% endcomment %}
<div class="discover-roaster-wrapper">
    <div class="discover-roaster-title">{{ title  }}</div>
    <div class="discover-roaster-subtitle" dir="rtl">{{ description }}</div>
    {% comment %} <hr class="discover-roaster-divider-line" /> {% endcomment %}
<!-- <img class="discover-roaster-img {{ img_class }}" src="{{ com_image | asset_url }}" alt="discover image" /> -->
    <div onclick="goToPage('{{ btn_url }}')" class="discover-roaster-btn">{{ btn_text }}</div>
</div>

<style>
    .discover-roaster-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
    margin: 56px 16px;
    padding: 48px 32px;
    /* width: 90%; */
    background-color: #333634;
    border-radius: 16px;
}

.discover-roaster-title {
    font-family: 'Noto Sans', sans-serif;
    font-size: 36px;
    line-height: 50px;
    font-weight: 700;
    color: #B5888B;
    text-align: center;
    margin-bottom: -8px;
}

.discover-roaster-subtitle {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #FBFCFE;
    text-align: center;
}

.discover-roaster-divider-line {
    width: 45%;
    border: 1px solid #FBFCFE;
    position: relative;
    margin: 0; 
}

.discover-roaster-img {
    width: 117px;
}

.find-your-coffee-img {
    width: 162px;
}

.discover-roaster-btn {
    width: 171px;
    height: 59px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    line-height: 27px;
    font-weight: 400;
    color: #FBFCFE;
    background-color: #B5888B;
    border: none;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
</style>

<script>
    function goToPage(url_postfix) {
        window.location.href = "{{ section.settings.collection.url }}" + url_postfix;
    }
</script>