<div class="questionnaire-product-card">
  <div class="questionnaire-product-image-wrapper">
    <img
      srcset="
        {%- if card_product.featured_media.width >= 165 -%}{{ card_product.featured_media | image_url: width: 165 }} 165w,{%- endif -%}
        {%- if card_product.featured_media.width >= 360 -%}{{ card_product.featured_media | image_url: width: 360 }} 360w,{%- endif -%}
        {%- if card_product.featured_media.width >= 533 -%}{{ card_product.featured_media | image_url: width: 533 }} 533w,{%- endif -%}
        {%- if card_product.featured_media.width >= 720 -%}{{ card_product.featured_media | image_url: width: 720 }} 720w,{%- endif -%}
        {{ card_product.featured_media | image_url: width: 533 }} {{ card_product.featured_media.width }}w
      "
      src="{{ card_product.featured_media | image_url: width: 533 }}"
      sizes="(min-width: 1200px) 267px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
      alt="{{ card_product.featured_media.alt | escape }}"
      class="questionnaire-product-image"
      loading="lazy"
      width="{{ card_product.featured_media.width }}"
      height="{{ card_product.featured_media.height }}"
    >
  </div>

  <div class="questionnaire-product-info">
    <h3 class="questionnaire-product-title">{{ card_product.title | escape }}</h3>
    <div class="questionnaire-product-vendor">{{ card_product.vendor }}</div>
  </div>
</div>
