<!-- snippets/filter-dropdown.liquid -->
 
    <div class="filter-top-menu-wrapper">
      <img 
          src="{{ 'close-filter-icon.png' | asset_url }}" 
          class="filter-top-menu-close" 
          onclick="toggleSortMenu(this, 'x')"
      />
      <span class="sort-label-mobile">פילטרים</span>
      <div class="filter-top-menu-clear" onclick="cleanFilters()">איפוס</div>
    </div>

<div class="dropdown-filters">
  <div class="dropdown-filter-wrapper">
    <button
      id="dropdown-button-sort-by"
      type="button"
      class="dropdown-button"
      onclick="toggleDropdown('sort-by')">
      <img
        src="{{ 'dropdown-icon.png' | asset_url }}"
        alt="Dropdown Icon"
        class="dropdown-icon" />
      מיון לפי
    </button>
    <div class="dropdown-menu" id="dropdownMenu-sort-by">
      <div class="dropdown-item">
        <label class="dropdown-icons">
          <input
            class="dropdown-icons-input"
            type="checkbox"
            name="sort_by"
            value="best-selling"
            onchange="handleFacetFilterChange('sort-by', this, 'הכי נמכר')">
          <span class="filter-item-text">הכי נמכר</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="dropdown-icons">
          <input
            class="dropdown-icons-input"
            type="checkbox"
            name="sort_by"
            value="price-ascending"
            onchange="handleFacetFilterChange('sort-by', this, 'מחיר (נמוך לגבוה)')">
          <span class="filter-item-text">מחיר (נמוך לגבוה)</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="dropdown-icons">
          <input
            class="dropdown-icons-input"
            type="checkbox"
            name="sort_by"
            value="price-descending"
            onchange="handleFacetFilterChange('sort-by', this, 'מחיר (גבוה לנמוך)')">
          <span class="filter-item-text">מחיר (גבוה לנמוך)</span>
        </label>
      </div>
      </div>
    <hr class="sort-line-mobile"/>
  </div>
  <div class="dropdown-filter-wrapper">
    <button
      id="dropdown-button-roast-level"
      type="button"
      class="dropdown-button"
      onclick="toggleDropdown('roast-level')">
      <img
        src="{{ 'dropdown-icon.png' | asset_url }}"
        alt="Dropdown Icon"
        class="dropdown-icon" />
      רמת קלייה
    </button>
    <div class="dropdown-menu" id="dropdownMenu-roast-level">

      <div class="dropdown-item">
        <label class="dropdown-icons">
          <input
            class="dropdown-icons-input"
            type="checkbox"
            name="filter.p.m.custom.coffee_roast_level"
            value="בהירה,בהירה-בינונית"
            onchange="handleFacetFilterChange('roast-level', null, 'בהירה')">
          <img
            class="dropdown-icon-img"
            src="{{ 'filter-roast-level-light.png' | asset_url }}"
            alt="Filter Icon" />
          <span class="filter-item-text">בהירה</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="dropdown-icons">
          <input
            class="dropdown-icons-input"
            type="checkbox"
            name="filter.p.m.custom.coffee_roast_level"
            value="בינונית"
            onchange="handleFacetFilterChange('roast-level', null, 'בינונית')">
          <img
            class="dropdown-icon-img"
            src="{{ 'filter-roast-level-light-medium.png' | asset_url }}"
            alt="Filter Icon" />
          <span class="filter-item-text">בינונית</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="dropdown-icons">
          <input
            class="dropdown-icons-input"
            type="checkbox"
            name="filter.p.m.custom.coffee_roast_level"
            value="כהה, בינונית-כהה"
            onchange="handleFacetFilterChange('roast-level', null, 'כהה')">
          <img
            class="dropdown-icon-img"
            src="{{ 'filter-roast-level-dark.png' | asset_url }}"
            alt="Filter Icon" />
          <span class="filter-item-text">כהה</span>
        </label>
      </div>
    </div>
  </div>
  <div class="dropdown-filter-wrapper">
    <button
      id="dropdown-button-coffee-process"
      type="button"
      class="dropdown-button"
      onclick="toggleDropdown('coffee-process')">
        {% comment %} <div class="selected-icons" id="selected-icons-taste"></div> {% endcomment %}
      <img
        src="{{ 'dropdown-icon.png' | asset_url }}"
        alt="Dropdown Icon"
        class="dropdown-icon" />
      צורת עיבוד
    </button>
    <div class="dropdown-menu" id="dropdownMenu-coffee-process">

      <div class="dropdown-item">
        <label class="dropdown-icons">
          <input
            class="dropdown-icons-input"
            type="checkbox"
            name="filter.p.m.custom.coffee_process"
            value="שטוף,חצי-שטוף"
            onchange="handleFacetFilterChange('coffee-process', null, 'שטוף/חצי שטוף')">
          <img
            class="dropdown-icon-img"
            src="{{ 'coffee-process-filter-washed.png' | asset_url }}"
            alt="Filter Icon" />
          <span class="filter-item-text">שטוף/חצי שטוף</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="dropdown-icons">
          <input
            class="dropdown-icons-input"
            type="checkbox"
            name="filter.p.m.custom.coffee_process"
            value="טבעי, חצי-טבעי,דבש"
            onchange="handleFacetFilterChange('coffee-process', null, 'טבעי/חצי טבעי')">
          <img
            class="dropdown-icon-img"
            src="{{ 'coffee-process-filter-natural.png' | asset_url }}"
            alt="Filter Icon" />
          <span class="filter-item-text">טבעי/חצי טבעי</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="dropdown-icons">
          <input
            class="dropdown-icons-input"
            type="checkbox"
            name="filter.p.m.custom.coffee_process"
            value="אנאירובי טבעי,אנאירובי שטוף,אנאירובי שטוף"
            onchange="handleFacetFilterChange('coffee-process', null, 'אנאירובי')">
          <img
            class="dropdown-icon-img"
            src="{{ 'coffee-process-filter-anirobi-natural.png' | asset_url }}"
            alt="Filter Icon" />
          <span class="filter-item-text">אנאירובי</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="dropdown-icons">
          <input
            class="dropdown-icons-input"
            type="checkbox"
            name="filter.p.m.custom.coffee_process"
            value="דבש"
            onchange="handleFacetFilterChange('coffee-process', null, 'דבש')">
          <img
            class="dropdown-icon-img"
            src="{{ 'coffee-process-filter-honey.png' | asset_url }}"
            alt="Filter Icon" />
          <span class="filter-item-text">דבש</span>
        </label>
      </div>
    </div>
  </div>
  <div class="dropdown-filter-wrapper">
    <button
      id="dropdown-button-coffee-type"
      type="button"
      class="dropdown-button"
      onclick="toggleDropdown('coffee-type')">
      <img
        src="{{ 'dropdown-icon.png' | asset_url }}"
        alt="Dropdown Icon"
        class="dropdown-icon" />
      סוג
    </button>
    <div class="dropdown-menu" id="dropdownMenu-coffee-type">
      <div class="dropdown-item">
        <label class="dropdown-icons">
          <input
            class="dropdown-icons-input"
            type="checkbox"
            name="filter.p.m.custom.coffee_type"
            value="בלנד"
            onchange="handleFacetFilterChange('coffee-type', null, 'תערובת')">
          <span class="filter-item-text">תערובת</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="dropdown-icons">
          <input
            class="dropdown-icons-input"
            type="checkbox"
            name="filter.p.m.custom.coffee_type"
            value="חד זני"
            onchange="handleFacetFilterChange('coffee-type', null, 'חד זני')">
          <span class="filter-item-text">חד זני</span>
        </label>
      </div>
    </div>
  </div>
  <div class="dropdown-filter-wrapper">
    <button
    id="dropdown-button-bean-origin-continent"
    type="button"
    class="dropdown-button"
    onclick="toggleDropdown('bean-origin-continent')">
      {% comment %} <div class="selected-icons" id="selected-icons-taste"></div> {% endcomment %}
    <img
      src="{{ 'dropdown-icon.png' | asset_url }}"
      alt="Dropdown Icon"
      class="dropdown-icon" />
    גיאוגרפיה
    </button>
    <div class="dropdown-menu" id="dropdownMenu-bean-origin-continent">

      <div class="dropdown-item">
        <label class="dropdown-icons">
          <input
            class="dropdown-icons-input"
            type="checkbox"
            name="filter.p.m.custom.bean_origin_continent"
            value="אסיה"
            onchange="handleFacetFilterChange('bean-origin-continent', null, 'אסיה')">
          <span class="filter-item-text">אסיה</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="dropdown-icons">
          <input
            class="dropdown-icons-input"
            type="checkbox"
            name="filter.p.m.custom.bean_origin_continent"
            value="אפריקה"
            onchange="handleFacetFilterChange('bean-origin-continent', null, 'אפריקה')">
          <span class="filter-item-text">אפריקה</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="dropdown-icons">
          <input
            class="dropdown-icons-input"
            type="checkbox"
            name="filter.p.m.custom.bean_origin_continent"
            value="דרום אמריקה"
            onchange="handleFacetFilterChange('bean-origin-continent', null, 'דרום אמריקה')">
          <span class="filter-item-text">דרום אמריקה</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="dropdown-icons">
          <input
            class="dropdown-icons-input"
            type="checkbox"
            name="filter.p.m.custom.bean_origin_continent"
            value="מרכז אמריקה"
            onchange="handleFacetFilterChange('bean-origin-continent', null, 'מרכז אמריקה')">
          <span class="filter-item-text">מרכז אמריקה</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="dropdown-icons">
          <input
            class="dropdown-icons-input"
            type="checkbox"
            name="filter.p.m.custom.bean_origin_continent"
            value="עולם"
            onchange="handleFacetFilterChange('bean-origin-continent', null, 'עולם')">
          <span class="filter-item-text">עולם</span>
        </label>
      </div>
    </div>
  </div>
  {% comment %} <div class="dropdown-filter-wrapper">
    <button
      id="dropdown-button-taste"
      type="button"
      class="dropdown-button"
      onclick="toggleDropdown('taste')">
      <img
        src="{{ 'dropdown-icon.png' | asset_url }}"
        alt="Dropdown Icon"
        class="dropdown-icon" />
      טעם
    </button>
    <div class="dropdown-menu" id="dropdownMenu-taste">

      <div class="dropdown-item">
        <label class="dropdown-icons">
          <input
            class="dropdown-icons-input"
            type="checkbox"
            name="filter.p.m.custom.coffee_taste"
            value="Fruity"
            onchange="handleFacetFilterChange('taste')">
          <span class="color-circle" style="background-color: #FFDF70;"></span>
          <span class="filter-item-text">פירותי</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="dropdown-icons">
          <input
            class="dropdown-icons-input"
            type="checkbox"
            name="filter.p.m.custom.coffee_taste"
            value="Fruity-Sweet"
            onchange="handleFacetFilterChange('taste')">
          <span class="color-circle" style="background-color: #FF974A;"></span>
          <span class="filter-item-text">פירותי מתוק</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="dropdown-icons">
          <input
            class="dropdown-icons-input"
            type="checkbox"
            name="filter.p.m.custom.coffee_taste"
            value="Sweet"
            onchange="handleFacetFilterChange('taste')">
          <span class="color-circle" style="background-color: #D60540;"></span>
          <span class="filter-item-text">מתוק מאוזן</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="dropdown-icons">
          <input
            class="dropdown-icons-input"
            type="checkbox"
            name="filter.p.m.custom.coffee_taste"
            value="Sweet-Chocolate"
            onchange="handleFacetFilterChange('taste')">
          <span class="color-circle" style="background-color: #C4823E;"></span>
          <span class="filter-item-text">מתוק שוקולדי</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="dropdown-icons">
          <input
            class="dropdown-icons-input"
            type="checkbox"
            name="filter.p.m.custom.coffee_taste"
            value="Chocolate"
            onchange="handleFacetFilterChange('taste')">
          <span class="color-circle" style="background-color: #8B4513;"></span>
          <span class="filter-item-text">שוקולדי</span>
        </label>
      </div>
    </div>
  </div> {% endcomment %}

  <div class="dropdown-filter-wrapper">
        <button
          id="dropdown-button-prep"
          type="button"
          class="dropdown-button"
          onclick="toggleDropdown('prep')">
          <div class="selected-icons" id="selected-icons-prep"></div>
          <img
            src="{{ 'dropdown-icon.png' | asset_url }}"
            alt="Dropdown Icon"
            class="dropdown-icon" />
          הכנה
        </button>

        <div class="dropdown-menu" id="dropdownMenu-prep">
          <div class="dropdown-item">
            <label class="dropdown-icons">
              <input
                class="dropdown-icons-input"
                type="checkbox"
                name="filter.p.m.custom.coffee_prep_methods"
                value="Filter"
                onchange="handleFacetFilterChange('prep', null, 'פילטר')">
              <img
                class="dropdown-icon-img"
                src="{{ 'dropdown-brew-Filter.png' | asset_url }}"
                alt="Filter Icon" />
              <span class="filter-item-text">פילטר</span>
            </label>
          </div>
          <div class="dropdown-item">
            <label class="dropdown-icons">
              <input
                class="dropdown-icons-input"
                type="checkbox"
                name="filter.p.m.custom.coffee_prep_methods"
                value="Black"
                onchange="handleFacetFilterChange('prep', null, 'קפה שחור')">
              <img
                class="dropdown-icon-img"
                src="{{ 'dropdown-brew-Turkish.png' | asset_url }}"
                alt="Turkish Icon" />
              <span class="filter-item-text">קפה שחור</span>
            </label>
          </div>
          <div class="dropdown-item">
            <label class="dropdown-icons">
              <input
                class="dropdown-icons-input"
                type="checkbox"
                name="filter.p.m.custom.coffee_prep_methods"
                value="MokaPot"
                onchange="handleFacetFilterChange('prep', null, 'מקינטה')">
              <img
                class="dropdown-icon-img"
                src="{{ 'dropdown-brew-Moka.png' | asset_url }}"
                alt="MokaPot Icon" />
              <span class="filter-item-text">מקינטה</span>
            </label>
          </div>
          <div class="dropdown-item">
            <label class="dropdown-icons">
              <input
                class="dropdown-icons-input"
                type="checkbox"
                name="filter.p.m.custom.coffee_prep_methods"
                value="Espresso"
                onchange="handleFacetFilterChange('prep', null, 'אספרסו')">
              <img
                class="dropdown-icon-img"
                src="{{ 'dropdown-brew-Espresso-Machine.png' | asset_url }}"
                alt="Espresso Icon" />
              <span class="filter-item-text">אספרסו</span>
            </label>
          </div>
          <div class="dropdown-item">
            <label class="dropdown-icons">
              <input
                class="dropdown-icons-input"
                type="checkbox"
                name="filter.p.m.custom.coffee_prep_methods"
                value="Aeropress"
                onchange="handleFacetFilterChange('prep', null, 'חליטה')">
              <img
                class="dropdown-icon-img "
                src="{{  'dropdown-brew-Chemex.png' | asset_url }}"
                alt="Aeropress Icon" />
              <span class="filter-item-text">חליטה</span>
            </label>
          </div>
        </div>
  </div>

  <div class="dropdown-filter-wrapper">
    <button
      type="button"
      id="dropdown-button-roaster"
      class="dropdown-button"
      onclick="toggleDropdown('roaster')">
        {% comment %} <div class="selected-icons" id="selected-icons-taste"></div> {% endcomment %}
      <img
        src="{{ 'dropdown-icon.png' | asset_url }}"
        alt="Dropdown Icon"
        class="dropdown-icon" />
      בית קלייה
    </button>
    <div class="dropdown-menu" id="dropdownMenu-roaster">

      <div class="dropdown-item">
        <label class="dropdown-icons">
          <input
            class="dropdown-icons-input"
            type="checkbox"
            name="filter.p.m.vendor_info.coffee_vendor"
            value="gid://shopify/Metaobject/80938893369"
            onchange="handleFacetFilterChange('roaster', null, 'Canopy')">
          <span class="filter-item-text">Canopy</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="dropdown-icons">
          <input
            class="dropdown-icons-input"
            type="checkbox"
            name="filter.p.m.vendor_info.coffee_vendor"
            value="gid://shopify/Metaobject/80936304697"
            onchange="handleFacetFilterChange('roaster', null, 'Blooms')">
          <span class="filter-item-text">Blooms</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="dropdown-icons">
          <input
            class="dropdown-icons-input"
            type="checkbox"
            name="filter.p.m.vendor_info.coffee_vendor"
            value="gid://shopify/Metaobject/92340289593"
            onchange="handleFacetFilterChange('roaster', null, 'Coffee Org')">
          <span class="filter-item-text">Coffee Org</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="dropdown-icons">
          <input
            class="dropdown-icons-input"
            type="checkbox"
            name="filter.p.m.vendor_info.coffee_vendor"
            value="gid://shopify/Metaobject/107700617273"
            onchange="handleFacetFilterChange('roaster', null, 'Coffee Culture')">
          <span class="filter-item-text">Coffee Culture</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="dropdown-icons">
          <input
            class="dropdown-icons-input"
            type="checkbox"
            name="filter.p.m.vendor_info.coffee_vendor"
            value="gid://shopify/Metaobject/80936370233"
            onchange="handleFacetFilterChange('roaster', null, 'You Need Coffee')">
          <span class="filter-item-text">You Need Coffee</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="dropdown-icons">
          <input
            class="dropdown-icons-input"
            type="checkbox"
            name="filter.p.m.vendor_info.coffee_vendor"
            value="gid://shopify/Metaobject/129521614905"
            onchange="handleFacetFilterChange('roaster', null, 'Elijahs Coffee')">
          <span class="filter-item-text">Elijahs Coffee</span>
        </label>
      </div>
    </div>
  </div>

</div>

<div class="filter-bottom-menu-select">
  <div class="filter-bottom-menu-apply-btn" onclick="toggleSortMenu(this, 'submit')">בחר</div>
</div>


<style>
  .dropdown-menu-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .dropdown-filters {
    position: relative;
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
    flex-direction: column;
  }
  .dropdown-hidden {
    visibility: hidden
  }

  .dropdown-button {
    /* height: 60px; */
    font-family: 'Assistant'
    , sans-serif;
    width: 100%;
    color: #1C201D;
    background-color: transparent;
    /* border: 1px solid #0000001A; */
    padding: 11px 16px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    font-weight: 700;
    /* border-radius: 4px; */
    display: flex;
    align-items: center;
    /* flex-direction: row-reverse; */
    justify-content: start;
  }

  .dropdown-menu {
    /* display: none; */
    /* position: absolute; */
    /* border: 1px solid #DEDBD666; */
    border-radius: 4px;
    /* width: 47%; */
    /* background-color: #fff; */
    /* border: 1px solid #ddd; */
    z-index: 10;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  }

  #dropdownMenu-taste,
  #dropdownMenu-sort-option,
  #dropdownMenu-roast-level,
  #dropdownMenu-sort-by,
  #dropdownMenu-prep,
  #dropdownMenu-coffee-process,
  #dropdownMenu-bean-origin-continent,
  #dropdownMenu-coffee-type,
  #dropdownMenu-roaster {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 16px;  
    margin-bottom: 24px;
  }

  .dropdown-item {
    /* padding: 8px 8px; */
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    /* width: 100%; */
  }


  /*
   .dropdown-item:hover {
   background-color: #f4f4f4;
   }
*/

  .dropdown-icons {
    display: flex;
    align-items: center;
    gap: 4px;
    white-space: nowrap;
  }
  .dropdown-icon {
    width: 12px;
  }

  .dropdown-icons-input {
    -webkit-appearance: none;
    appearance: none;
    width: 24px !important;
    height: 24px !important;
    margin-left: 24px;
    border: 1px solid #33363466;
    border-radius: 2px;
    background-color: transparent;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    /* fallback for browsers that still render native boxes */
    accent-color: #333634;
  }

  /* Checked state: solid fill + white checkmark */
  .dropdown-icons-input:checked {
    background-color: #333634;
    border-color: #333634;
  }

  /* Draw the checkmark using ::after */
  .dropdown-icons-input::after {
    content: '';
    position: absolute;
    left: 6px;
    top: 3px;
    width: 6px;
    height: 12px;
    border: solid transparent;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
    transition: opacity 0.12s ease;
    pointer-events: none;
  }

  .dropdown-icons-input:checked::after {
    border-color: #fff;
    opacity: 1;
  }

  /* Accessibility focus ring */
  .dropdown-icons-input:focus {
    outline: 2px solid rgba(51, 54, 52, 0.18);
    outline-offset: 2px;
  }

  .color-circle {
    width: 24px;
    height: 24px;
    border-radius: 30px;
    margin-left: 4px;
  }

  .dropdown-button {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 16px;
    /* width: 40%; */
    border: none;
    /* flex-direction: column; */
  }

  .dropdown-divider {
    border: 1px solid #CDCDCD;
    width: 1px;
    display: block;
    height: 45px;
  }

  .dropdown-icon-img {
    height: 24px;
    width: 24px;
  }

  .dropdown-menu-btn {
    background-color: #1C201D;
    width: 113px;
    height: 40px;
    border-radius: 8px;
    padding: 16px 10px;
    font-family: 'Assistant'
    , sans-serif;
    font-size: 18px;
    color: #E3E0DA;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px 0;
  }

  .selected-icons {
    display: flex;
    gap: 4px;
    /* margin-left: 4px; */
  }

  #selected-icons-taste .color-circle,
  #selected-icons-prep img {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-left: 0;
  }

  .filter-item-text {
    font-family: 'Assistant'
    , sans-serif;
    font-size: 16px;
    line-height: 25px;
  }

  @media screen and (min-width: 749px) {
    #dropdownMenu-taste {
      right: 17%;
    }
    #dropdownMenu-prep {
      left: 17%;
    }

    .dropdown-filters {
      display: flex !important;
      flex-direction: column !important; /* Single column stack */
      padding: 0 24px;
      direction: rtl;
    }

    .dropdown-button {
      width: 100% !important;
      padding: 12px 0;
      border-bottom: 1px solid #f9f9f9;
    }

    .dropdown-menu {
      position: static !important;
      display: flex !important; /* Keeps them open by default in sidebar */
      width: 100% !important;
      box-shadow: none !important;
      border: none !important;
      margin-bottom: 24px !important;
      padding-right: 10px; /* Indent options slightly from button */
    }

    .filter-top-menu-wrapper, 
    .filter-bottom-menu-select {
      width: 100%;
      flex-basis: 100%;
    }

    .dropdown-filter-wrapper {
      width: 48%;
    }
  }
</style>

<script>
  // Function to update the URL with selected filters
  function updateUrlWithFilters() {
    debugger;
    const tasteChecked = Array.from(document.querySelectorAll('#dropdownMenu-taste .dropdown-icons-input:checked'))
      .map(checkbox => checkbox.value);
    const prepChecked = Array.from(document.querySelectorAll('#dropdownMenu-prep .dropdown-icons-input:checked'))
      .map(checkbox => checkbox.value);

    const params = new URLSearchParams(window.location.search);
    const page = params.get('page') || 1;

    if (tasteChecked.length > 0) {
      params.set('taste', tasteChecked.join(','));
      } else {
      params.delete('taste');
    }

    if (prepChecked.length > 0) {
      params.set('prep', prepChecked.join(','));
    } else {
      params.delete('prep');
    }

    if (page > 1) {
      params.set('page', page);
    } else {
      params.delete('page');
    }

    // Update the URL without reloading the page, only changing the history state
    // window.history.replaceState({}, '', `${window.location.pathname}?${params}`);

    // Instead of replacing state, we will just update the pagination links
    // The actual URL update will happen when the user clicks a pagination link
    updatePaginationLinks(params.toString());
  }

  // Modify filterByTag to call updateUrlWithFilters
  function filterByTag() {
    // Gather checked checkboxes from both dropdowns
    const tasteChecked = Array.from(document.querySelectorAll('#dropdownMenu-taste .dropdown-icons-input:checked'))
      .map(checkbox => checkbox.value);
    const prepChecked = Array.from(document.querySelectorAll('#dropdownMenu-prep .dropdown-icons-input:checked'))
      .map(checkbox => checkbox.value);

    document.querySelectorAll('.grid__item').forEach(card => {
      const prepMethods = card.dataset.prepMethods;

      if (!prepMethods) return;

      const flavorPart = prepMethods.substring(0, prepMethods.indexOf('[')).trim();
      const methodsString = prepMethods.substring(prepMethods.indexOf('['));
      const methodsArray = JSON.parse(methodsString);

      // OR logic inside each category
      const tasteMatch = tasteChecked.length === 0 || tasteChecked.includes(flavorPart);
      const prepMatch = prepChecked.length === 0 || prepChecked.some(tag => methodsArray.includes(tag));

      // AND logic between taste and prep
      const show = tasteMatch && prepMatch;
      // card.style.display = show ? 'block' : 'none';
    });

    // Close the menu after selecting
    // const menuTaste = document.getElementById('dropdownMenu-taste');
    // const menuPrep = document.getElementById('dropdownMenu-prep');
    // menuPrep.style.display = 'none';
    // menuTaste.style.display = 'none';

    updateDropdownButtonText('taste');
    updateDropdownButtonText('prep');

    // Call the function to update the URL parameters
    updateUrlWithFilters();
  }

  // Function to update pagination links with current filter parameters
  function updatePaginationLinks(filterParamsString) {
    // Parse the filterParamsString into a URLSearchParams object for the current active filters
    const activeFilterParams = new URLSearchParams(filterParamsString);

    document.querySelectorAll('.pagination__item').forEach(link => {
      const originalHref = link.getAttribute('href');
      if (!originalHref) return; // Skip if no href

      const originalUrl = new URL(originalHref, window.location.origin);
      const linkSpecificParams = new URLSearchParams(originalUrl.search); // Params from this specific pagination link

      // 1. Get the page number that THIS pagination link is *supposed* to go to.
      // This is the most crucial part.
      let targetPage = linkSpecificParams.get('page');

      // If the original link for page 1 doesn't have a 'page' param, treat it as 1.
      if (!targetPage && originalUrl.pathname === window.location.pathname) {
          // This check ensures we're on the same base collection path
          // and if there's no page param, it's implicitly page 1.
          targetPage = '1';
      }


      // 2. Clear all existing filter parameters from this link's specific params
      linkSpecificParams.delete('taste');
      linkSpecificParams.delete('prep');
      // Also remove any existing 'page' parameter, we'll re-add it carefully
      linkSpecificParams.delete('page');


      // 3. Add the *currently active filters* to this link's specific parameters
      activeFilterParams.forEach((value, key) => {
        linkSpecificParams.set(key, value);
      });


    // 4. Re-add the *correct page number for THIS link* to its parameters.
    // Only add 'page' if it's not page 1 AND we need it to differentiate.
    // If targetPage is '1' and there are no active filters, we want a clean URL.
    const hasActiveFilters = activeFilterParams.get('taste') || activeFilterParams.get('prep');

    if (targetPage && targetPage !== '1') {
        linkSpecificParams.set('page', targetPage);
    } else if (targetPage === '1' && hasActiveFilters) {
        // If it's page 1, but filters are active, we must keep 'page=1' in the URL
        // to ensure the filters persist when navigating back to the first page.
        linkSpecificParams.set('page', '1');
    }
    // If targetPage is '1' and no active filters, linkParams will naturally not have 'page', which is desired.


    // 5. Construct the final href for this link
    originalUrl.search = linkSpecificParams.toString();
    link.setAttribute('href', originalUrl.pathname + originalUrl.search + (originalUrl.hash || ''));
   });
  }

  // // Initialize filters and update pagination links on page load
  // document.addEventListener('DOMContentLoaded', () => {
  //   // Parse URL parameters on page load to apply filters
  //   const params = new URLSearchParams(window.location.search);
  //   const tasteParam = params.get('taste');
  //   const prepParam = params.get('prep');

  //   if (tasteParam) {
  //     const tasteValues = tasteParam.split(',');
  //     tasteValues.forEach(value => {
  //       const checkbox = document.querySelector(`#dropdownMenu-taste .dropdown-icons-input[value="${value}"]`);
  //       if (checkbox) checkbox.checked = true;
  //     });
  //   }

  //   if (prepParam) {
  //     const prepValues = prepParam.split(',');
  //     prepValues.forEach(value => {
  //       const checkbox = document.querySelector(`#dropdownMenu-prep .dropdown-icons-input[value="${value}"]`);
  //       if (checkbox) checkbox.checked = true;
  //     });
  //   }

  //   // After setting checkboxes, apply the filters and update button text
  //   if (tasteParam || prepParam) {
  //     filterByTag();
  //   } // This will also call updateUrlWithFilters
  // });

  // Existing toggleDropdown and updateDropdownButtonText functions remain the same
  function toggleDropdown(menuType) {
    const menuTaste = document.getElementById(`dropdownMenu-${menuType}`);
    const menus = document.querySelectorAll('.dropdown-menu');
    const target = document.getElementById(`dropdownMenu-${menuType}`);
    const currentDisplay = window.getComputedStyle(target).display;
    target.style.display = currentDisplay === 'none' ? 'flex' : 'none';
  }

  function cleanFilters () {
    // Uncheck all checkboxes
    document.querySelectorAll('.dropdown-icons-input').forEach(checkbox => {
      checkbox.checked = false;
    });

    FacetFiltersForm.renderPage('', null, true);
    const button = document.querySelector('.sort-dropdown-button');
    if (screen.width <= 749) {
      toggleSortMenu(button);
    }
    
    const indicator = document.querySelector('.sort-icon-image-selected');
    if (indicator) {
      indicator.classList.remove('show');
    }
    const bubbleItem = document.querySelectorAll('.bubble-item.active');
    if (bubbleItem) {
      bubbleItem.forEach(item => {
        item.classList.remove('active');
      });
    }
    analytics.trackClick('Filter Reset');
  }

  function updateDropdownButtonText(type) {
    const selectedCheckboxes = document.querySelectorAll(`.dropdown-icons-input:checked`);
    const button = document.querySelector(`.dropdown-menu-btn[data-type="${type}"]`);

    const selectedIconsContainer = document.getElementById(`selected-icons-${type}`);
    selectedIconsContainer.innerHTML = '';

    selectedCheckboxes.forEach((checkbox, index) => {
      if (index >= 3) return;

      const label = checkbox.closest('label');
      if (type === 'taste') {
        const colorCircle = label.querySelector('.color-circle');
        if (colorCircle) {
          const clone = colorCircle.cloneNode(true);
          selectedIconsContainer.appendChild(clone);
        }
      } else if (type === 'prep') {
        const iconImg = label.querySelector('.dropdown-icon-img');
        if (iconImg) {
          const clone = iconImg.cloneNode(true);
          selectedIconsContainer.appendChild(clone);
        }
      }
    });
  }

  // Helper for instant update from taste/prep checkboxes
  // Added targetElement as the second argument
    function handleFacetFilterChange(type, targetElement = null, filterName) {

        // --- 1. UI LOGIC: Enforce Single Select for Sort-By ---
          if (type === 'sort-by' && targetElement) {
            // If the user just checked this box, uncheck all others in the same group
            if (targetElement.checked) {
              const allSortInputs = document.querySelectorAll('#dropdownMenu-' + type + ' .dropdown-icons-input');
              allSortInputs.forEach(input => {
                if (input !== targetElement) {
                  input.checked = false;
              }
            });
          }
        }

        // --- 2. EXISTING LOGIC ---
          const paramMap = {
          'taste': 'filter.p.m.custom.coffee_taste',
          'prep': 'filter.p.m.custom.coffee_prep_methods',
          'roast-level': 'filter.p.m.custom.coffee_roast_level',
          'roaster': 'filter.p.m.vendor_info.coffee_vendor',
          'coffee-process': 'filter.p.m.custom.coffee_process',
          'bean-origin-continent': 'filter.p.m.custom.bean_origin_continent',
          'coffee-type': 'filter.p.m.custom.coffee_type',
          'sort-by': 'sort_by'
        };

        const paramName = paramMap[type];
        if (!paramName) return;

        // Collect checked, visible boxes (Now this will only find 1 item for sort-by)
        const filterValue = Array.from(
            document.querySelectorAll('#dropdownMenu-' + type + ' .dropdown-icons-input:checked')
          ).filter(cb => cb.offsetParent !== null)
          .map(cb => cb.value);

        const params = new URLSearchParams(window.location.search);
        const currentValues = params.getAll(paramName);

        const desiredValues = String(filterValue)
          .split(',')
          .map((v) => v.trim())
          .filter(Boolean);

        // --- 3. URL LOGIC ---

        if (type === 'sort-by') {
          // Clear existing sort params
          params.delete(paramName);
          
          // Since we handled the UI unchecking above, desiredValues will have max 1 item
          if (desiredValues.length > 0) {
            params.set(paramName, desiredValues[0]);
          }
        } else {
          // Logic for other multi-select filters
          const sameValueSet = (a, b) => {
            const aSet = new Set(a);
            const bSet = new Set(b);
            if (aSet.size !== bSet.size) return false;
            for (const v of aSet) {
              if (!bSet.has(v)) return false;
            }
            return true;
          };

          if (desiredValues.length > 0 && sameValueSet(currentValues, desiredValues)) {
            params.delete(paramName);
          } else {
            params.delete(paramName);
            desiredValues.forEach((v) => params.append(paramName, v));
          }
        }
        
        analytics.trackClick('Filter Select', {
          'Source': 'Filter Menu',
          'Filter Name': type,
          'Filter Value': filterName
        });

        const newQueryString = params.toString();
        // FacetFiltersForm.renderPage(newQueryString, null, true);
        debouncedRender(newQueryString);

        const event = new CustomEvent('collectionPageUpdated');
        window.dispatchEvent(event);

        // --- 4. UPDATE SORT ICON VISIBILITY ---
        const indicator = document.querySelector('.sort-icon-image-selected');
        if (indicator) {
          // Check the new params object we just built
          const hasActiveFilters = Array.from(params.keys()).some(key => 
            key.startsWith('filter.p.') || 
            key.startsWith('filter.v.') || 
            key === 'sort_by'
          );

          if (hasActiveFilters) {
            indicator.classList.add('show');
          } else {
            indicator.classList.remove('show');
          }
        }
    }

    // Helper function to delay execution
    function debounce(func, wait) {
      let timeout;
      return function(...args) {
        clearTimeout(timeout);
        timeout = setTimeout(() => func.apply(this, args), wait);
      };
    }

    // Create a debounced version of your render function
    const debouncedRender = debounce((queryString) => {
      FacetFiltersForm.renderPage(queryString, null, true);
    }, 300);

  // document.addEventListener('DOMContentLoaded', updateDropdownButtonText)
</script>