<style>
  .why-us-vertical-wrapper {
    background-color: #F4F3F0;
    display: flex;
    flex-direction: column;
    padding: 24px;
    border-radius: 0 0 0 16px;
  }

  .why-us-vertical-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
    gap: 16px;
  }

  .why-us-vertical-item:last-child {
    margin-bottom: 0;
  }

  .why-us-vertical-text {
    font-family: "Assistant", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #1C201D;
    flex: 1;
    text-align: right;
  }

  .why-us-vertical-img {
    width: 22px;
    height: auto;
    object-fit: contain;
    flex-shrink: 0;
  }

  .why-us-vertical-title {
    margin: 0;
    padding: 0;
    margin-bottom: 16px;
  }
</style>

<div class="why-us-vertical-wrapper">
<h3 class="why-us-vertical-title">למה לקנות אצלנו?</h3>
  <div class="why-us-vertical-item">
    <img class="why-us-vertical-img" src="{{ 'why-us-vertical-roaster-icon.png' | asset_url }}" alt="Roaster" width="22" height="26" />  
    <div class="why-us-vertical-text" dir="rtl">
        בית קלייה מ{{ vendor.vendor_location.value }} | קלייה בכמויות קטנות
        </div>
  </div>
  <div class="why-us-vertical-item">
    <img class="why-us-vertical-img" src="{{ 'why-us-vertical-glass-icon.png' | asset_url }}" alt="Free Shipping" width="22" height="26" />  
    <div class="why-us-vertical-text" dir="rtl">משלוח חינם בקנייה מעל {{ vendor.min_order_for_free_shipping  }} ₪ בבית קלייה זה</div>
  </div>
  <div class="why-us-vertical-item">
    <img class="why-us-vertical-img" src="{{ 'why-us-vertical-delivery-icon.png' | asset_url }}" alt="Fast Delivery" width="22" height="18" />  
    <div class="why-us-vertical-text" dir="rtl">
        משלוח מבית הקלייה לשמירה על טריות מקסימלית | מגיע תוך 1-7 ימים
    </div>
  </div>
  <div class="why-us-vertical-item">
    <img class="why-us-vertical-img" src="{{ 'why-us-vertical-whaysapp-icon.png' | asset_url }}" alt="Support Local Business" width="22" height="22" />  
    <div class="why-us-vertical-text" dir="rtl">כל רכישה תומכת בבית קלייה מקומי קטן, ומביעה הערכה לקפה מקומי מדהים</div>
  </div>
</div>

