<style>
  .why-us-vertical-wrapper {
    /* background-color: #F4F3F0; */
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 24px;
    border-radius: 0 0 0 16px;
  }

  .why-us-vertical-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
    gap: 16px;
  }

  .why-us-vertical-item:last-child {
    margin-bottom: 0;
  }

  .why-us-vertical-text {
    font-family: "Assistant"
    , sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #1C201D;
    flex: 1;
    text-align: right;
  }

  .why-us-vertical-img {
    width: 22px;
    height: auto;
    object-fit: contain;
    flex-shrink: 0;
  }

  .why-us-vertical-title {
    margin: 0 0 16px;
    padding: 0;
  }
</style>

<div class="why-us-vertical-wrapper">

  <div class="why-us-vertical-item">
    <img
      class="why-us-vertical-img"
      src="{{ 'why-us-vertical-glass-icon.png' | asset_url }}"
      alt="Free Shipping"
      width="22"
      height="26" />
    {% comment %} <div class="why-us-vertical-text" dir="rtl">משלוח עד הבית ב-39 ש״ח &#9679; חינם בקנייה מעל {{ vendor.min_order_for_free_shipping  }} ₪ בבית קלייה זה</div> {% endcomment %}
    <div class="why-us-vertical-text" dir="rtl">משלוח עד הבית ב-29 ש״ח בלבד</div>
  </div>
  <div class="why-us-vertical-item">
    <img
      class="why-us-vertical-img"
      src="{{ 'why-us-vertical-delivery-icon.png' | asset_url }}"
      alt="Fast Delivery"
      width="22"
      height="18" />
    <div class="why-us-vertical-text" dir="rtl">
      משלוח חינם בקנייה מעל {{ vendor.min_order_for_free_shipping }} ₪ בבית קלייה זה
    </div>
  </div>
  <div class="why-us-vertical-item">
    <img
      class="why-us-vertical-img"
      src="{{ 'why-us-vertical-roaster-icon.png' | asset_url }}"
      alt="Roaster"
      width="22"
      height="26" />
    <div class="why-us-vertical-text" dir="rtl">
      {{ vendor.vendor_name.value | upcase }} בית קלייה בוטיק מ{{ vendor.vendor_location.value }} &#9679; נשלח טרי ישירות מבית הקלייה
    </div>
  </div>
{% comment %} <div class="why-us-vertical-item">
        <img class="why-us-vertical-img" src="{{ 'why-us-vertical-whaysapp-icon.png' | asset_url }}" alt="Support Local Business" width="22" height="22" />  
        <div class="why-us-vertical-text" dir="rtl">
          כל רכישה תומכת בבית קלייה מקומי קטן</div>
  </div> {% endcomment %}
</div>