{{ 'blends-filter-icons.css' | asset_url | stylesheet_tag }}
<div class="blends-filter-wrapper">
    <div class="blends-filter-item-wrpper">
        <div class="blends-filter-item">
            <div class="blends-filter-icon-wrapper">
                <img class="blends-filter-icon" src="{{ 'blend-filter-mix.png' | asset_url }}" alt="Filter Icon" />
            </div>
            <div class="blend-filter-text">תערובות</div>
        </div>
        <div class="blends-filter-item">
            <div class="blends-filter-icon-wrapper">
                <img class="blends-filter-icon" src="{{ 'blend-filter-single-origin.png' | asset_url }}" alt="Filter Icon" />
            </div>
            <div class="blend-filter-text">חד זני</div>
        </div>
        <div class="blends-filter-item">
            <div class="blends-filter-icon-wrapper">
                <img class="blends-filter-icon" src="{{ 'blend-filter-special.png' | asset_url }}" alt="Filter Icon" />
            </div>
            <div class="blend-filter-text">מיוחדים</div>
        </div>
        <div class="blends-filter-item">
            <div class="blends-filter-icon-wrapper">
                <img class="blends-filter-icon" src="{{ 'blend-filter-light-roast.png' | asset_url }}" alt="Filter Icon" />
            </div>
            <div class="blend-filter-text">קליה בהירה</div>
        </div>
        <div class="blends-filter-item">
            <div class="blends-filter-icon-wrapper">
                <img class="blends-filter-icon" src="{{ 'blend-filter-dark-roast.png' | asset_url }}" alt="Filter Icon" />
            </div>
            <div class="blend-filter-text">קליה כהה</div>
        </div>
        <div class="blends-filter-item">
            <div class="blends-filter-icon-wrapper">
                <img class="blends-filter-icon" src="{{ 'blend-filter-medium-roast.png' | asset_url }}" alt="Filter Icon" />
            </div>
            <div class="blend-filter-text">קליה בינונית</div>
        </div>
    </div>
</div>