{{ 'blends-filter-icons.css' | asset_url | stylesheet_tag }}
<div class="blends-filter-wrapper">
    <div class="blends-filter-item-wrpper">
        <div class="blends-filter-item">
            <img class="blends-filter-icon" src="{{ 'blend-filter-mix.png' | asset_url }}" alt="Filter Icon" />
            <div class="blend-filter-text">תערובות</div>
        </div>
        <div class="blends-filter-item">
            <img class="blends-filter-icon" src="{{ 'blend-filter-mix.png' | asset_url }}" alt="Filter Icon" />
            <div class="blend-filter-text"></div>
        </div>
        <div class="blends-filter-item">
            <img class="blends-filter-icon" src="{{ 'blend-filter-mix.png' | asset_url }}" alt="Filter Icon" />
            <div class="blend-filter-text"></div>
        </div>
        <div class="blends-filter-item">
            <img class="blends-filter-icon" src="{{ 'blend-filter-mix.png' | asset_url }}" alt="Filter Icon" />
            <div class="blend-filter-text"></div>
        </div>
        <div class="blends-filter-item">
            <img class="blends-filter-icon" src="{{ 'blend-filter-mix.png' | asset_url }}" alt="Filter Icon" />
            <div class="blend-filter-text"></div>
        </div>
        <div class="blends-filter-item">
            <img class="blends-filter-icon" src="{{ 'blend-filter-mix.png' | asset_url }}" alt="Filter Icon" />
            <div class="blend-filter-text"></div>
        </div>
        
    </div>
</div>