{{ 'blends-filter-icons.css' | asset_url | stylesheet_tag }}
<div class="blends-filter-wrapper">
    <div class="blends-filter-item-wrpper">
        <div class="blends-filter-item filter-single-origin" onclick="goToCollections('single-origin')">
            <div class="blends-filter-icon-wrapper">
                <img class="blends-filter-icon" src="{{ 'blend-filter-single-origin.png' | asset_url }}" alt="פילטר חד זני" />
            </div>
            <div class="blend-filter-text">
                <span>חד זני</span>
                <img src="{{ 'left-arrow-icon.png' | asset_url }}" alt="חץ שמאלה" />
            </div>
        </div>

        <div class="blends-filter-item filter-blends" onclick="goToCollections('blends')">
            <div class="blends-filter-icon-wrapper">
                <img class="blends-filter-icon" src="{{ 'blend-filter-mix.png' | asset_url }}" alt="פילטר בלנדים" />
            </div>
            <div class="blend-filter-text">
                <span>בלנדים</span>
                <img src="{{ 'left-arrow-icon.png' | asset_url }}" alt="חץ שמאלה" />
            </div>
        </div>

        <div class="blends-filter-item filter-special-beans" onclick="goToCollections('special-coffee')">
            <div class="blends-filter-icon-wrapper">
                <img class="blends-filter-icon" src="{{ 'blend-filter-special.png' | asset_url }}" alt="פילטר פולים מיוחדים" />
            </div>
            <div class="blend-filter-text">
                <span>מיוחדים</span>
                <img src="{{ 'left-arrow-icon.png' | asset_url }}" alt="חץ שמאלה" />
            </div>
        </div>

        <div class="blends-filter-item filter-light-roast" onclick="goToCollections('light-roast')">
            <div class="blends-filter-icon-wrapper">
                <img class="blends-filter-icon" src="{{ 'blend-filter-light-roast.png' | asset_url }}" alt="פילטר קליה בהירה" />
            </div>
            <div class="blend-filter-text">
                <span>קליה בהירה</span>
                <img src="{{ 'left-arrow-icon.png' | asset_url }}" alt="חץ שמאלה" />
            </div>
        </div>

        <div class="blends-filter-item filter-medium-roast" onclick="goToCollections('medium-roast')">
            <div class="blends-filter-icon-wrapper">
                <img class="blends-filter-icon" src="{{ 'blend-filter-medium-roast.png' | asset_url }}" alt="פילטר קליה בינונית" />
            </div>
            <div class="blend-filter-text">
                <span>קליה בינונית</span>
                <img src="{{ 'left-arrow-icon.png' | asset_url }}" alt="חץ שמאלה" />
            </div>
        </div>

        <div class="blends-filter-item filter-dark-roast" onclick="goToCollections('dark-roast')">
            <div class="blends-filter-icon-wrapper">
                <img class="blends-filter-icon" src="{{ 'blend-filter-dark-roast.png' | asset_url }}" alt="פילטר קליה כהה" />
            </div>
            <div class="blend-filter-text">
                <span>קליה כהה</span>
                <img src="{{ 'left-arrow-icon.png' | asset_url }}" alt="חץ שמאלה" />
            </div>
        </div>
    </div>
</div>

<script>
    function goToCollections(collectionName) {
        window.location.href = "{{ section.settings.collection.url }}/collections/" + collectionName;
    }
</script>