{{ 'main-page-footer-info.css' | asset_url | stylesheet_tag }}
<div class="main-footer-wrapper">
    <img class="footer_main_page_top" src="{{ 'footer_main_page_top.png' | asset_url }}"/>
    <div class="main-footer-info-wrapper">
        <div class="main-footer-info-divider">
            <hr  class="main-footer-info-divider-line"/>
            <img class="main-footer-info-divider-img" src="{{ 'divider-footer.png' | asset_url }}" alt="Divider" />
        </div>
            <div class="main-footer-info-about-us" dir="rtl">קפה טוב דורש דיוק - חומרי גלם מעולים, קלייה מדויקת ואיכותית, טריות וכמובן אהבה לקפה.
                לכן אנחנו עובדים רק עם בתי קלייה כחול-לבן אשר בחרנו אחד-אחד - כולם קטנים, כולם קולים יום יום, וכולם מייצרים את הקפה הכי טוב שטעמנו.
            </div>
            <div class="main-footer-info-divider">
                <hr  class="main-footer-info-divider-line"/>
            </div>
            <div class="main-footer-info-shop-wrapper">
                <img class="main-footer-info-shop-img" src="{{ 'footer_small_business.png' |  asset_url }}"/>
                <div class="main-footer-info-shop-title">עסקים קטנים</div>
                <div class="main-footer-info-shop-description" dir="rtl">עובדים עם עסקים קטנים ומקומיים מכל הארץ</div>
            </div>
            <div class="main-footer-info-shop-wrapper">
                <img class="main-footer-info-shop-img" src="{{ 'footer_fresh_coffee.png' |  asset_url }}"/>
                <div class="main-footer-info-shop-title">קפה טרי תמיד</div>
                <div class="main-footer-info-shop-description" dir="rtl">הקפה נקלה בכמויות קטנות ותמיד סמוך להזמנה</div>
            </div>
            <div class="main-footer-info-shop-wrapper">
                <img class="main-footer-info-shop-img" src="{{ 'footer_delivery.png' |  asset_url }}"/>
                <div class="main-footer-info-shop-title">משלוח מהיר</div>
                <div class="main-footer-info-shop-description" dir="rtl">משלוחים תוך 1-5 ימים תלוי במיקום בארץ</div>
            </div>
            <div class="main-footer-info-shop-wrapper">
                <img class="main-footer-info-shop-img" src="{{ 'footer_availability.png' |  asset_url }}"/>
                <div class="main-footer-info-shop-title">תמיד זמינים</div>
                <div class="main-footer-info-shop-description" dir="rtl">שירות אישי ועזרה בווטסאפ מתי שצריך</div>
            </div>
            <div onclick="goToStore()" class="main-footer-info-shop-btn">לחנות</div>
        </div>
        </div>
</div>

<script>
    function goToStore() {
        window.location.href = "{{ section.settings.collection.url }}/collections/all";
    }
</script>
{% comment %} href="{{ section.settings.collection.url }}" {% endcomment %}