{{ 'main-page-footer-info.css' | asset_url | stylesheet_tag }}
<div class="main-footer-wrapper">
    <picture style="line-height: 0;">
        <source media="(max-width: 768px)" srcset="{{ 'footer_main_page_top.png' | asset_url }}'">
        <source media="(min-width: 769px)" srcset="{{ 'footer_main_page_top_desktop.png' | asset_url }}">
        <img class="footer_main_page_top" src="{{ 'footer_main_page_top.png' | asset_url }}" alt="Footer Wave">
    </picture>
    <div class="main-footer-info-wrapper">
        <div class="main-footer-info-divider">
            <hr class="main-footer-info-divider-line"/>
            <img class="main-footer-info-divider-img" src="{{ 'divider-footer.png' | asset_url }}" alt="Divider" />
        </div>
            <div class="main-footer-info-about-us" dir="rtl">קפה טוב דורש דיוק - חומרי גלם מעולים, קלייה מדויקת ואיכותית, טריות וכמובן אהבה לקפה.
                לכן אנחנו עובדים רק עם בתי קלייה כחול-לבן אשר בחרנו אחד-אחד - כולם קטנים, כולם קולים יום יום, וכולם מייצרים את הקפה הכי טוב שטעמנו.
            </div>
            <div class="main-footer-info-divider">
                <hr class="main-footer-info-divider-line"/>
            </div>
            <div class="main-footer-info-shop-wrap-flex">
                <div class="main-footer-info-shop-wrapper">
                    <img class="main-footer-info-shop-img" src="{{ 'footer_small_business.png' |  asset_url }}"/>
                    <h2 class="main-footer-info-shop-title">בתי קלייה כחול-לבן</h2>
                    <div class="main-footer-info-shop-description" dir="rtl">עובדים רק עם בתי קלייה קטנים ומקומיים מכל הארץ</div>
                </div>
                <div class="main-footer-info-shop-wrapper">
                    <img class="main-footer-info-shop-img" src="{{ 'footer_fresh_coffee.png' |  asset_url }}"/>
                    <h2 class="main-footer-info-shop-title">קפה פרימיום טרי</h2>
                    <div class="main-footer-info-shop-description" dir="rtl">הקפה נקלה בכמויות קטנות ותמיד סמוך להזמנה</div>
                </div>
                <div class="main-footer-info-shop-wrapper">
                    <img class="main-footer-info-shop-img" src="{{ 'footer_delivery.png' |  asset_url }}"/>
                    <h2 class="main-footer-info-shop-title">משלוח מהיר</h2>
                    <div class="main-footer-info-shop-description" dir="rtl">משלוחים תוך 1-7 ימים תלוי במיקום בארץ</div>
                </div>
                <div class="main-footer-info-shop-wrapper">
                    <img class="main-footer-info-shop-img" src="{{ 'footer_availability.png' |  asset_url }}"/>
                    <h2 class="main-footer-info-shop-title">תמיד כאן לעזור</h2>
                    <div class="main-footer-info-shop-description" dir="rtl">שירות אישי ועזרה בווטסאפ מתי שצריך</div>
                </div>
            </div>
            <div onclick="goToStore()" class="main-footer-info-shop-btn">לחנות</div>
        </div>
</div>

<script>
    function goToStore() {
        window.location.href = "{{ section.settings.collection.url }}/collections/חנות-קפה";
    }
</script>

<style>
    .footer_main_page_top {
        /* height: 116px; */
        width: 100%;
        object-fit: cover;
    }

    @media (min-width: 768px) {
        .footer_main_page_top {
            /* height: 158px; */
            width: 100%;
            object-fit: cover;
            object-position: center top;
        }
    }
</style>
{% comment %} href="{{ section.settings.collection.url }}" {% endcomment %}