{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
{{ 'component-collection-hero.css' | asset_url | stylesheet_tag }}

{%- style -%}
  @media screen and (max-width: 749px) {
    .collection-hero--with-image .collection-hero__inner {
      padding-bottom: calc({{ settings.media_shadow_vertical_offset | at_least: 0 }}px + 2rem);
    }
  }
{%- endstyle -%}

<script>
    analytics.trackScreenView('Catalogue', {
        page_load_time: performance.now()
    });
</script>

  <script>
    console.log('>>', '{{ collection.handle | escape }}');

    function updateCollectionTitle() {
      var titleElem = document.querySelector('.vendors-collection-title-main');
      var collectionName = '{{ collection.handle | escape }}';

      if (titleElem) {
        if (window.location.search.includes('from_quiz=true')) {
          titleElem.textContent = 'מומלץ בשבילך';
          return;
        }

        {% comment %} switch (collectionName) {
          case 'חנות-קפה':
            titleElem.textContent = 'הקפה שלנו';
            break;
          case 'קפה-חד-זני':
            titleElem.textContent = 'קפה חד זני';
            break;
          case 'תערובות-קפה':
            titleElem.textContent = 'תערובות קפה';
            break;
          case 'פולי-קפה-מיוחדים':
            titleElem.textContent = 'קפה מיוחד';
            break;
          case 'פולי-קפה-קלייה-בהירה':
            titleElem.textContent = 'קלייה בהירה';
            break;
          case 'פולי-קפה-קלייה-בינונית':
            titleElem.textContent = 'קלייה בינונית';
            break;
          case 'פולי-קפה-קלייה-כהה':
            titleElem.textContent = 'קלייה כהה';
            break;
          default:
            titleElem.textContent = 'הקפה שלנו';
        } {% endcomment %}
      }
    }

    {% comment %} document.addEventListener('DOMContentLoaded', updateCollectionTitle); {% endcomment %}

    window.addEventListener('collectionPageUpdated', updateCollectionTitle);
  </script>

<!-- {{  collection.handle }} -->

<div class="collection-hero{% if section.settings.show_collection_image and collection.image %} collection-hero--with-image{% endif %} color-{{ section.settings.color_scheme }} gradient">
  <div class="collection-hero__inner page-width {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
    <div class="collection-hero__text-wrapper">
      <div class="vendors-collection-title-wrapper" dir="rtl">
        <h1 class="vendors-collection-title-main">
          {%- case collection.handle -%}
            {%- when 'חנות-קפה' -%}פולי קפה בקלייה מקומית
            {%- when 'קפה-חד-זני' -%}קפה חד זני
            {%- when 'תערובות-קפה' -%}תערובות קפה
            {%- when 'פולי-קפה-מיוחדים' -%}קפה מיוחד
            {%- when 'פולי-קפה-קלייה-בהירה' -%}קלייה בהירה
            {%- when 'פולי-קפה-קלייה-בינונית' -%}קלייה בינונית
            {%- when 'פולי-קפה-קלייה-כהה' -%}קלייה כהה
            {%- when 'canopy-collection' -%}הקפה של קאנופי
            {%- when 'blooms-collection' -%}הקפה של בלומס
            {%- when 'coffee-culture-collection' -%}הקפה של קופי קולצ׳ור
            {%- when 'coffee-organization-collection' -%}הקפה של Coffee Org
            {%- when 'you-need-coffee-collection' -%}הקפה של You Need Coffee
            {%- when 'באנדלים-של-קפה-מכל-בית-קלייה' -%}מארזים מוכנים
            {%- when 'פולי-קפה-אתיופיה' -%}קפה אתיופי
            {%- when 'קפה-קולומביאני' -%}קפה קולומביאני
            {%- else -%}פולי קפה בקלייה מקומית
          {%- endcase -%}
        </h1>
        <div class="vendors-collection-title-submain">
קפה מבתי הקלייה הטובים בישראל        </div>
    </div> 
      <!-- <h1 class="collection-hero__title">
        <span class="visually-hidden">{{ 'sections.collection_template.title' | t }}: </span>
        {{- collection.title | escape -}}
      </h1> -->
      

     <!-- {% assign selected_taste = request.params.selected_taste | default: 'all' %} -->
      {% comment %} {% assign product_taste = collection.products %} 
    {% render 'taste-filter', tastes: product_taste %} {% endcomment %}
  
      
      {% comment %} {%- if section.settings.show_collection_description -%}
        <div class="collection-hero__description rte">{{ collection.description }}</div>
      {%- endif -%} {% endcomment %}
    </div>


    {%- if section.settings.show_collection_image and collection.image -%}
      <div class="collection-hero__image-container media gradient">
        <img
          srcset="
            {%- if collection.image.width >= 165 -%}{{ collection.image | image_url: width: 165 }} 165w,{%- endif -%}
            {%- if collection.image.width >= 360 -%}{{ collection.image | image_url: width: 360 }} 360w,{%- endif -%}
            {%- if collection.image.width >= 535 -%}{{ collection.image | image_url: width: 535 }} 535w,{%- endif -%}
            {%- if collection.image.width >= 750 -%}{{ collection.image | image_url: width: 750 }} 750w,{%- endif -%}
            {%- if collection.image.width >= 1070 -%}{{ collection.image | image_url: width: 1070 }} 1070w,{%- endif -%}
            {%- if collection.image.width >= 1500 -%}{{ collection.image | image_url: width: 1500 }} 1500w,{%- endif -%}
            {{ collection.image | image_url }} {{ collection.image.width }}w
          "
          src="{{ collection.image | image_url: width: 750 }}"
          sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc(50vw - 130px), calc(50vw - 55px)"
          alt="{{ collection.image.alt | escape }}"
          width="{{ collection.image.width }}"
          height="{{ collection.image.height }}"
        >
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-collection-banner.name",
  "class": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.main-collection-banner.settings.paragraph.content"
    },
    {
      "type": "checkbox",
      "id": "show_collection_description",
      "default": true,
      "label": "t:sections.main-collection-banner.settings.show_collection_description.label"
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "default": false,
      "label": "t:sections.main-collection-banner.settings.show_collection_image.label",
      "info": "t:sections.main-collection-banner.settings.show_collection_image.info"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    }
  ]
}
{% endschema %}
