{{ 'our-vendors.css' | asset_url | stylesheet_tag }}
<div class="our-vendors-wrapper" data-section-id="{{ section.id }}">
    <div class="our-vendors-logo-wrapper" dir="ltr">
        <div class="our-vendors-scroll-track">
            <div class="our-vendors-logo-group">
                {% for vendor in shop.metaobjects.vendor_definitions.values %}
                    <div class="our-vendor-container">
                        <div onclick="goToVendorPage({{ vendor.vendor_name.value | json | escape }})" class="our-vendor-logo" role="button" tabindex="0">
                            <img
                                class="our-vendor-logo-img"
                                src="{{ vendor.vendor_logo | image_url: width: 100 }}"
                                alt="Vendor Logo"
                                width="100"
                                height="100"
                                loading="lazy"
                                decoding="async"
                            >
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="our-vendors-logo-group" aria-hidden="true">
                {% for vendor in shop.metaobjects.vendor_definitions.values %}
                    <div class="our-vendor-container">
                        <div onclick="goToVendorPage({{ vendor.vendor_name.value | json | escape }})" class="our-vendor-logo" role="button" tabindex="-1">
                            <img
                                class="our-vendor-logo-img"
                                src="{{ vendor.vendor_logo | image_url: width: 100 }}"
                                alt="Vendor Logo"
                                width="100"
                                height="100"
                                loading="lazy"
                                decoding="async"
                            >
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% render 'single-quote', desktop_only: true %}
</div>

<script type="application/json" id="OurVendorsData-{{ section.id }}">
[
    {%- for vendor in shop.metaobjects.vendor_definitions.values -%}
        {
            "name": {{ vendor.vendor_name.value | json }},
            "logo": {{ vendor.vendor_logo | image_url: width: 100 | json }}
        }{%- unless forloop.last -%},{%- endunless -%}
    {%- endfor -%}
]
</script>

<script>
    function goToVendorPage(vendorName) {
        window.location.href = "{{ section.settings.collection.url }}/pages/vendor-" + vendorName.replaceAll(' ', '-');
    }
</script>