{{ 'vendors-collection.css' | asset_url | stylesheet_tag }}

<script>
    analytics.trackScreenView('Roasters List', {
        page_load_time: performance.now()
    });
</script>

<div class="vendors-collection-wrapper">
    <div class="vendors-collection-title-wrapper" dir="rtl">
        <div class="vendors-collection-title-main">בתי הקלייה</div>
        <div class="vendors-collection-title-submain">קלייה טרייה ומקומית</div>
    </div>
    <div class="vendors-collection-content-wrapper">
        <div class="vendors-collection-items-wrapper">
            {% for vendor in shop.metaobjects.vendor_definitions.values %}
                <div onclick="goToVendorPage('{{ vendor.vendor_name.value }}')" class="vendors-collection-vendor-item">
                    <div class="vendors-collection-vendor-logo-wrapper">
                        <img class="vendors-collection-vendor-logo" src="{{ vendor.vendor_logo | img_url: 'small' }}" >
                    </div>
                    <div class="vendors-collection-vendor-description-wrapper">
                        <div class="vendors-collection-vendor-name">{{ vendor.vendor_name }}</div>
                        <div class="vendors-collection-vendor-location">מיקום {{ vendor.vendor_location }}</div>
                    </div>
                </div>
            {%endfor%}
        </div>
    </div>
</div>

<script>
    function goToVendorPage(vendorName) {
        window.location.href = "{{ section.settings.collection.url }}/pages/vendor-" + vendorName.replaceAll(' ', '-');
    }
</script>